@using wikiPr.Models

@{
    Layout = "~/Views/Shared/Layout.cshtml";

    string str = "";
    string erreur = "Erreur d'authentification";
    string accueil = "Accueil";

    try {
        str = Request.ServerVariables["HTTP_ACCEPT_LANGUAGE"];
        Utilisateur u = Utilisateurs.FindByCourriel(User.Identity.Name);
        if (User.Identity.IsAuthenticated && u != null) { str = u.Langue; }
    }
    catch { str = "fr"; }

    if (str.IndexOf("en") != -1) {
        erreur = "Authentification error";
        accueil = "Home";
    }
    if (str.IndexOf("es") != -1) {
        erreur = "Error de autenticación";
        accueil = "Recepción";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @if (ViewBag.error != "") {
            <div class="alert alert-danger" role="alert">
                <b>@erreur</b> @ViewBag.error
            </div>
        }

        @using (Html.BeginForm("Connexion", "Utilisateurs")) {
            <div class="form-group">
                @*@Html.Label("Nom d'utilisateur")*@
                @wikiPr.Ressource.ResourceView.Courriel
                <div class="col-md-10">
                    @Html.TextBox("username")
                </div>
            </div>
            <div class="form-group">
                @*@Html.Label("Mot de passe")*@
                @wikiPr.Ressource.ResourceView.MDP
                <div class="col-md-10">
                    @Html.Password("password")
                </div>
            </div>
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            <input type="submit" value="Connexion" />
        }
    </div>
    <br /><br />
    @Html.ActionLink(@accueil, "Index", "home")
</body>
</html>

