
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @if (ViewBag.error != "") {
            <div class="alert alert-danger" role="alert">
                <b>Erreur d'authentification</b> @ViewBag.error
            </div>
        }

        @using (Html.BeginForm("Connexion", "Utilisateurs")) {
            <div class="form-group">
                @*@Html.Label("Nom d'utilisateur")*@
                @wikiPr.Ressource.ResourceView.Courriel
                <div class="col-md-10">
                    @Html.TextBox("username")
                </div>
            </div>
            <div class="form-group">
                @*@Html.Label("Mot de passe")*@
                @wikiPr.Ressource.ResourceView.MDP
                <div class="col-md-10">
                    @Html.Password("password")
                </div>
            </div>
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            <input type="submit" value="Connexion" />
        }
    </div>
    <br /><br />
    @Html.ActionLink("Accueil", "Index", "home")
</body>
</html>

