@model IEnumerable<wikiPr.Models.Article>
@using wikiPr.Models

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    @{
        int compteur = 0;
        List<string> listedestitres = new List<string>();
        string titrealire = "";
        string letitre = "";
        
     }
            
</head>
<body>
    @section up {
      @Html.Partial("ViewUp")
        }
   
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Titre)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DateModification)
                    </th>

                    <th></th>
                </tr>


                @{ if (ViewBag.lesArticles != null) {
                        
                        try {

                            foreach (Article a in ViewBag.lesArticles) {
                                letitre = a.Titre;
                               <tr>
                                    <td>
                                        @Html.ActionLink(letitre, "afficher", "home", new { Titre = letitre }, null)
                                    </td>
                                    <td>
                                        @a.DateModification
                                    </td>
                                </tr>
                            }

                        }
                        catch { }
                    }
                }
        
    </table>

    <div class="bienvenue">
        Bienvenus/bienvenues sur notre site!
    </div>


    @{ if (ViewBag.lesArticles != null) {
                try {
                    foreach (Article a in ViewBag.lesArticles) {
                        letitre = a.Titre;
                        listedestitres.Add(letitre);
                        compteur++;
                    }

                    int kompt = 0;
                    bool ok = true;
                    Random rand = new Random();
                    int x = rand.Next(1, compteur);
                    foreach (string s in listedestitres) {
                        kompt++;
                        if (kompt == x && ok) {
                            titrealire = s;
                            ok = false;
                        }
                    }
                }
                catch { }
            }
    }

   
    <input type="text" readonly="readonly" value="@titrealire" />&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Lire" onclick="window.location = '/home/afficher?Titre=@titrealire';" />
    <br/><br/><br />
    @Html.ActionLink("Ajouter un nouvel article", "ajouter")


    



</body>
</html>
